<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>JS Clock</title>
    </head>
    <body>
        <div class="grid-container grid-center">
            <div id="dayOfWeek" class="dayOfWeek neonText text-center"></div>
            <h1 id="clock" class="neonText text-center"></h1>
            <div class="toggle debug grid-template-12">
                <div class = "grid-3">
                    <p class="text-right">12H</p>
                </div>
                <div class="toggle-input">
                    <input type="checkbox" id="militaryTimeToggle">
                    <label for="militaryTimeToggle"></label>
                </div>
                <div class="grid-3">
                    <p>24H</p>
                </div>
                
                <br style="clear: left;"/>
            </div>
        </div>
    </body>
</html>
