<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>JS Clock</title>
    </head>
    <body>
        <div class="grid-container grid-row-3  grid-center">
            <div id="dayOfWeek" class="dayOfWeek  grid-xs-3 neonText text-center grid"></div>
            <h1 id="clock" class="neonText grid-xs-3 text-center"></h1>
            <div class="toggle grid-xs-3 grid-row-3">
                <div>
                    <p class="text-right">12H</p>
                </div>
                <div class="toggle-input">
                    <input type="checkbox" id="militaryTimeToggle">
                    <label for="militaryTimeToggle"></label>
                </div>
                <div>
                    <p>24H</p>
                </div>
                
                <br style="clear: left;"/>
            </div>
        </div>
    </body>
</html>
